{% extends 'admin_panel/base.html' %}

{% load static %}

{% block title %}Upload Document{% endblock %}

{% block content %}
{% include 'admin_panel/nav.html' %}

<!-- Link to your custom CSS file -->
<link rel="stylesheet" href="{% static 'upload/css/upload_style.css' %}">

<div class="home-content">
    <div class="upload-form">
        <h1>Upload Document</h1>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="assigned_to">Assigned To:</label>
                <input type="text" id="assigned_to" name="assigned_to">
            </div>
            <div class="form-group">
                <label for="from_person">From:</label>
                <input type="text" id="from_person" name="from_person">
            </div>
            <div class="form-group">
                <label for="remarks">Remarks:</label>
                <textarea id="remarks" name="remarks" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="file">File:</label>
                <div class="file-upload-wrapper">
                    <input type="file" id="file" name="file" required onchange="updateFileName()">
                    <button type="button" class="file-upload-button">
                        <i class="bx bx-upload"></i> Choose File
                    </button>
                </div>
                <div id="file-info" class="file-info">No file chosen</div>
            </div>
            <button type="submit" class="submit-button">Upload</button>
        </form>
    </div>
</div>

<script src="{% static 'upload/js/upload_script.js' %}"></script>


{% endblock %}
